@page "/Kalkulator"
@using Omreznina.Components
@using Omreznina.Logic
@using Omreznina.Shared
@inject ViewModel ViewModel

<div class="page">
    <div class="sidebar">
        <div class="@NavMenuCssClass nav-scrollable d-flex align-items-center" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                @foreach (var subpage in SubPageInfo.SubPages)
                {
                    <div class="nav-item">
                        <button @onclick="@(()=>{ViewModel.CurrentPage=subpage; })" class="btn p-2 m-2 @ButtonClasses(subpage)" data-toggle="tooltip" data-placement="bottom" title="@subpage.Tooltip">
                            @((MarkupString)subpage.Svg)
                            @if (ViewModel.CurrentPage.Name != "Kalkulator")
                            {
                                <span class="ms-1">@subpage.Name</span>
                            }
                        </button>
                    </div>
                }
            </nav>
        </div>
    </div>
    <main>
        <div class="top-row px-4" style=" visibility:@(ViewModel.CurrentPage.Name == "Kalkulator" ? "visible" : "hidden");">
            <div style="margin-right:auto;">
                <EditForm style="margin-right:auto;" EditContext="_editContext">
                    <fieldset disabled="@(!ViewModel.CalculationOptions.Has15MinuteData)">
                        <div class="d-flex align-items-baseline">
                            <div>
                                <Tooltip3>
                                    <Text><b class="m-1">Moči:</b></Text>
                                    <ChildContent>
                                        <h3>Dogovorjene moči po blokih</h3>
                                        <span>
                                            Dogovorjene moči po blokih so kjučna stvar pri reformi obračuna elektrike. Saj omogočajo vsakemu odjemalcu da določi koliko bo obremenjeval omrežje in temu primerno, koliko bo plačal. Prekoračitve dogovorjene moči se kaznuje s presežki.
                                        </span>
                                    </ChildContent>
                                </Tooltip3>
                            </div>
                            <BlocksPowerSelectorComponent />
                        </div>
                    </fieldset>
                </EditForm>
            </div>

            <a href="/About" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Več informacij o kalkulatorju">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                </svg>
            </a>
            <a href="https://github.com/DavidKarlas/Omreznina" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Povezava do odprte kode">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                </svg>
            </a>
        </div>

        <article class="content px-4">
            <DynamicComponent Type="@ViewModel.CurrentPage.Component" />
        </article>
    </main>
</div>

@code {
    private EditContext? _editContext;
    protected override void OnInitialized()
    {
        _editContext = new EditContext(ViewModel.CalculationOptions);
        _editContext.OnFieldChanged += OnFormUpdated;
        ViewModel.PropertyChanged += (s, e) => {
            if (e.PropertyName == "CurrentPage")
                StateHasChanged();
        };
    }

    private void OnFormUpdated(Object sender, FieldChangedEventArgs args)
    {
        ViewModel.UpdateGraphs();
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string ButtonClasses(SubPageInfo subPage)
    {
        if (ViewModel.CurrentPage == subPage)
        {
            return "active btn-primary";
        }
        if (!ViewModel.EnteredCalculatorOnce && Array.IndexOf(SubPageInfo.SubPages, subPage) > Array.IndexOf(SubPageInfo.SubPages, ViewModel.CurrentPage))
        {
            return "disabled btn-secondary";
        }
        return "btn-primary";
    }
}